In [147]:
#importing libraries
import boto3
import pandas as pd
import time
from io import StringIO # python3; python2; BytesIO

In [105]:
AWS_ACCESS_KEY = "AKIAQFWY5EUUCPY4P2NL"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-2"
SCHEMA_NAME = "covid_dataset"
S3_STAGING_DIR = "s3://de-on-covid-csv-useast2-dev-test-bucket/output/"
S3_BUCKET_NAME = "de-on-covid-csv-useast2-dev-test-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [106]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [107]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            #This functions only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [108]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [109]:
response

{'QueryExecutionId': '523353b1-d1bf-48a7-9a6b-25ebfb24f83f',
 'ResponseMetadata': {'RequestId': 'df3891cc-2bb1-42de-b67f-8f2d09989c8e',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 31 Jan 2024 02:23:16 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'df3891cc-2bb1-42de-b67f-8f2d09989c8e'},
  'RetryAttempts': 0}}

In [110]:
enigma_jhud = download_and_load_query_results(athena_client, response)

In [111]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [112]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)

In [113]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client, response)

In [114]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_in_countrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datasets_in_countrycode = download_and_load_query_results(athena_client, response)

In [115]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_in_countypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datasets_in_countypopulation = download_and_load_query_results(athena_client, response)

In [60]:
static_datasets_in_countypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [116]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_in_state_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datasets_in_state_abv = download_and_load_query_results(athena_client, response)

In [117]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM covid_19_testing_data_in_states_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
covid_19_testing_data_in_states_daily = download_and_load_query_results(athena_client, response)

In [118]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM covid_19_testing_data_in_us_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
covid_19_testing_data_in_us_daily = download_and_load_query_results(athena_client, response)

In [119]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM covid_19_testing_data_in_us_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
covid_19_testing_data_in_us_total_latest = download_and_load_query_results(athena_client, response)

In [120]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [66]:
rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129,129,0,0,NaN,NaN,0,0,33.495498,-112.066157
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295,295,2,2,NaN,NaN,2,0,32.181263,-110.965885
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57,57,2,2,NaN,NaN,2,0,36.773324,-119.779742
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216,216,1,1,NaN,NaN,2,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60,60,0,0,NaN,NaN,1,0,39.740206,-75.606532

In [42]:
static_datasets_in_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [121]:
new_header = static_datasets_in_state_abv.iloc[0] #grab the first row of the header
static_datasets_in_state_abv = static_datasets_in_state_abv[1:] #take the data only from 1th row and not 0th
static_datasets_in_state_abv.columns = new_header

In [122]:
static_datasets_in_state_abv

0                  State Abbreviation
1                Alabama           AL
2                 Alaska           AK
3                Arizona           AZ
4               Arkansas           AR
5             California           CA
6               Colorado           CO
7            Connecticut           CT
8               Delaware           DE
9   District of Columbia           DC
10               Florida           FL
11               Georgia           GA
12                Hawaii           HI
13                 Idaho           ID
14              Illinois           IL
15               Indiana           IN
16                  Iowa           IA
17                Kansas           KS
18              Kentucky           KY
19             Louisiana           LA
20                 Maine           ME
21               Montana           MT
22              Nebraska           NE
23                Nevada           NV
24         New Hampshire           NH
25            New Jersey           NJ
26            New Mexico           NM
27              New York           NY
28        North Carolina           NC
29          North Dakota           ND
30                  Ohio           OH
31              Oklahoma           OK
32                Oregon           OR
33              Maryland           MD
34         Massachusetts           MA
35              Michigan           MI
36             Minnesota           MN
37           Mississippi           MS
38              Missouri           MO
39          Pennsylvania           PA
40          Rhode Island           RI
41        South Carolina           SC
42          South Dakota           SD
43             Tennessee           TN
44                 Texas           TX
45                  Utah           UT
46               Vermont           VT
47              Virginia           VA
48            Washington           WA
49         West Virginia           WV
50             Wisconsin           WI
51               Wyoming           WY

In [123]:
factCovid_1 = enigma_jhud[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
factCovid_2 = covid_19_testing_data_in_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [126]:
factCovid.shape

(27992, 13)

In [133]:
dimRegion_1 = enigma_jhud[['fips','province_state','country_region','latitude','longitude']]
dimRegion_2 = nytimes_data_in_usa_us_county[['fips','county','state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [134]:
dimHospital = rearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hq_address','hospital_name','hospital_type','hq_city','hq_state']]

In [136]:
dimDate = covid_19_testing_data_in_states_daily[['fips','date']]

In [137]:
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [138]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

/var/folders/bj/j44zgvfd4dbd0_00d279gvj00000gn/T/ipykernel_20828/572748324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

In [139]:
dimDate.head()

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [140]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

/var/folders/bj/j44zgvfd4dbd0_00d279gvj00000gn/T/ipykernel_20828/935310350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
/var/folders/bj/j44zgvfd4dbd0_00d279gvj00000gn/T/ipykernel_20828/935310350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
/var/folders/bj/j44zgvfd4dbd0_00d279gvj00000gn/T/ipykernel_20828/935310350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

In [141]:
dimDate.head()

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [148]:
bucket = 'de-on-covid-csv-useast2-dev'

In [149]:
csv_buffer = StringIO()
csv_buffer

In [150]:
factCovid.to_csv(csv_buffer)

In [152]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '14S8SFJ9XQQE4Z38',
  'HostId': 'ENf1FFOaxPiY22QWrnXiHGTuCiq0SOVhDvPh4+3OX3eU4t1e92bMGB7oozasEuPDmbClxYLXO7A=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'ENf1FFOaxPiY22QWrnXiHGTuCiq0SOVhDvPh4+3OX3eU4t1e92bMGB7oozasEuPDmbClxYLXO7A=',
   'x-amz-request-id': '14S8SFJ9XQQE4Z38',
   'date': 'Wed, 31 Jan 2024 04:14:06 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"17f921c4aaa328789864c1da79f4e138"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"17f921c4aaa328789864c1da79f4e138"',
 'ServerSideEncryption': 'AES256'}

In [158]:
csv_buffer1 = StringIO()
csv_buffer1

In [159]:
dimRegion.to_csv(csv_buffer1)

In [160]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimRegion.csv').put(Body=csv_buffer1.getvalue())

{'ResponseMetadata': {'RequestId': 'FHW4VW27KAE736CB',
  'HostId': 'tulHk+gDJ0QCui9cZOQUPoHYiC1KN7hq1vDXIyVe4uE+cg4RP0UOQIN7CGfGeQxEae8r3RCsusw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'tulHk+gDJ0QCui9cZOQUPoHYiC1KN7hq1vDXIyVe4uE+cg4RP0UOQIN7CGfGeQxEae8r3RCsusw=',
   'x-amz-request-id': 'FHW4VW27KAE736CB',
   'date': 'Wed, 31 Jan 2024 04:44:03 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"76bb11f95e791cab6d066c43a0ddb5ee"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"76bb11f95e791cab6d066c43a0ddb5ee"',
 'ServerSideEncryption': 'AES256'}

In [161]:
csv_buffer2 = StringIO()
csv_buffer2

In [162]:
dimHospital.to_csv(csv_buffer2)

In [163]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimHospital.csv').put(Body=csv_buffer2.getvalue())

{'ResponseMetadata': {'RequestId': 'HTB5BXRZ7TK6FTGC',
  'HostId': 'gFmnYEHWIETP32fBogOgNZtBQM8htVsG668/rv9HFuhkTpSXugwagdHlDPYMEMsFL+szfT36AQ7LVKAWGDtReg==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'gFmnYEHWIETP32fBogOgNZtBQM8htVsG668/rv9HFuhkTpSXugwagdHlDPYMEMsFL+szfT36AQ7LVKAWGDtReg==',
   'x-amz-request-id': 'HTB5BXRZ7TK6FTGC',
   'date': 'Wed, 31 Jan 2024 04:48:07 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"1d1c0c3ae9442c87336fccf0b1e8f780"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"1d1c0c3ae9442c87336fccf0b1e8f780"',
 'ServerSideEncryption': 'AES256'}

In [164]:
csv_buffer3 = StringIO()
csv_buffer3

In [165]:
dimDate.to_csv(csv_buffer3)

In [166]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimDate.csv').put(Body=csv_buffer3.getvalue())

{'ResponseMetadata': {'RequestId': 'QZYRCX1TPFXWSVV1',
  'HostId': 'aRtK8gK07kC9CphfjWRFBWZxdeMd0BwBJnXxxEj4c8Tnt/9V6E/4r9XJGGJS5GUUvqXM+6DTkic=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'aRtK8gK07kC9CphfjWRFBWZxdeMd0BwBJnXxxEj4c8Tnt/9V6E/4r9XJGGJS5GUUvqXM+6DTkic=',
   'x-amz-request-id': 'QZYRCX1TPFXWSVV1',
   'date': 'Wed, 31 Jan 2024 04:48:46 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"c806953ef77c6fc33fdf78f5d2b636e4"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"c806953ef77c6fc33fdf78f5d2b636e4"',
 'ServerSideEncryption': 'AES256'}

In [168]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [170]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [171]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [172]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [173]:
import redshift_connector

In [181]:
# Connects to Redshift cluster using AWS credentials
conn = redshift_connector.connect(
    host='redshift-cluster-1.cnxgaf3kzyau.us-east-2.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='Myredshiftcluster1'
 )

In [182]:
conn.autocommit = True

In [183]:
 cursor = redshift_connector.Cursor = conn.cursor()

In [184]:
cursor.execute(""" 
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)""")

In [187]:
cursor.execute(""" 
copy dimDate from 's3://de-on-covid-csv-useast2-dev/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::012266054952:role/service-role/AmazonRedshift-CommandsAccessRole-20240131T004529'
delimiter ','
region 'us-east-2'
IGNOREHEADER 1
""")